# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Gradle & Android build files
.gradle/
**/.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/generated_gradle_build_inputs

# iOS
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.gpx
**/ios/Pods/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.idea/
.vscode/
*.iml

# Generated build files
/app.*.symbols
/app.*.map.txt
